# LangGraph Orchestrator Configuration
NEXT_PUBLIC_LANGGRAPH_API_URL=http://localhost:8123

XRG13_SSH_USERNAME=
XRG13_SSH_PRIVATE_KEY_PATH=~/.ssh/id_rsa # change to valid path

OLLAMA_PORT=11434
DOTNET_SERVICE_PORT=5083
JAVA_SERVICE_PORT=8090
MONGODB_MIGRATOR_PORT=8091
DB_TOOLBOX_PORT=5010

MSSQL_PORT=1444
MSSQL_USER=sa
MSSQL_PASSWORD=Testingorms123
MONGODB_PORT=27027
MONGODB_USER=uom_readonly
MONGODB_PASSWORD=uom_readonly
MONGODB_DATABASE=uom
NEO4J_PORT=7697
NEO4J_BROWSER_PORT=7484
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password
