# MFF Ollama server variables
XRG13_SSH_USERNAME=
XRG13_SSH_PRIVATE_KEY_PATH= # change to valid path

# Docker host ports
FRONTEND_PORT=3020
OLLAMA_PORT=11434
DOTNET_SERVICE_PORT=5083
DOTNET_SERVICE_SSH_PORT=5022
JAVA_SERVICE_PORT=8090
JAVA_SERVICE_SSH_PORT=8022
MONGODB_MIGRATOR_PORT=8091
DB_TOOLBOX_PORT=5010

# Database variables
MSSQL_PORT=1333
MSSQL_SA_USER=sa
MSSQL_SA_PASSWORD=Testingorms123
MSSQL_DATABASE=WideWorldImporters
MSSQL_USER=uom_readonly
MSSQL_PASSWORD=Uomreadonly123
MONGODB_PORT=27027
MONGODB_USER=uom_readonly
MONGODB_PASSWORD=uom_readonly
MONGODB_DATABASE=uom
NEO4J_PORT=7697
NEO4J_BROWSER_PORT=7484
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password

# Langgraph variables
NEO4J_DATABASE=neo4j
NEO4J_URI=neo4j://neo4j:7687
MONGODB_URI=mongodb://uom_readonly:uom_readonly@mongodb:27017/uom
MSSQL_HOST=mssql_db
# MSSQL_PORT=1433
DB_TOOLBOX_URI=http://db-toolbox:5000
REDIS_PORT=6389
