# shellcheck disable=SC2148
if [[ -f ~/.envrc.local ]] && type source_env >/dev_null 2>&1; then
  source_env ~/.envrc.local
else
  source ~/.envrc.local
fi

# Default gateway inside the runner container will be whatever network Docker attaches it to. Here we compute the host-gateway
# If your runner is attached to a specific compose network, use that network name below.
HOST_GW="$(docker network inspect uom --format '{{(index .IPAM.Config 0).Gateway}}')"
export OUTER_HOST_GATEWAY_IP="$HOST_GW"
echo "Using OUTER_HOST_GATEWAY_IP=$OUTER_HOST_GATEWAY_IP for network $UOM_NETWORK"
