[submodule "external/daytona"]
	path = external/daytona
	url = git@github.com:daytonaio/daytona.git
[submodule "external/langgraphics"]
	path = external/langgraphics
	url = git@github.com:corovcam/langgraphics.git
[submodule "external/pydoc-mintlify"]
	path = external/pydoc-mintlify
	url = git@github.com:corovcam/pydoc-mintlify.git
