# shellcheck disable=SC2148
[[ -f ~/.envrc.local ]] && source_env ~/.envrc.local

if [ -d ".venv/bin" ]; then
  source .venv/bin/activate
elif [ -d ".venv/Scripts" ]; then
  source .venv/Scripts/activate
fi

HOST_GW="$(docker network inspect uom --format '{{(index .IPAM.Config 0).Gateway}}')"
export OUTER_HOST_GATEWAY_IP="$HOST_GW"

dotenv_if_exists .env.dev
