TAVILY_API_KEY=

# To separate your traces from other application
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# The following depend on your selected configuration

OLLAMA_HOST=http://localhost:11434

# OpenAI compatible server
OPENAI_API_URL=
OPENAI_API_KEY=

MODEL=openai/kimi-k2.5

# Dependency variables (databases, container from upstream - should be in sync)
NEO4J_DATABASE=neo4j
NEO4J_URI=neo4j://neo4j:7687
MONGODB_URI=mongodb://uom_readonly:uom_readonly@mongodb:27017/uom
MONGODB_DATABASE=uom
MSSQL_HOST=mssql_db
MSSQL_PORT=1433
DB_TOOLBOX_URI=http://db-toolbox:5000
DOTNET_SERVICE_URI=http://dotnet-service:5083
DOTNET_SERVICE_SSH_URI=ssh://dotnet-service:22
JAVA_SERVICE_URI=http://java-service:8090
JAVA_SERVICE_SSH_URI=ssh://java-service:22
