TAVILY_API_KEY=

# To separate your traces from other application
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# The following depend on your selected configuration

OLLAMA_HOST=http://localhost:11434
MODEL=ollama/qwen3-coder:30b
