DEVELOPMENT=false

TAVILY_API_KEY=

# Observability
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="LLM orchestrator service"

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

LOGFIRE_TOKEN=
LOGFIRE_PYDANTIC_PLUGIN_RECORD=failure

OTEL_PYTHON_HTTPX_EXCLUDED_URLS="^.*(langfuse|smith\.langchain\.com).*$"
OTEL_PYTHON_REQUESTS_EXCLUDED_URLS="^.*(langfuse|smith\.langchain\.com).*$"
OTEL_RESOURCE_ATTRIBUTES=vcs.repository.url.full=https://github.com/corovcam/Universal-Object-Mapping
OTEL_RESOURCE_ATTRIBUTES=${OTEL_RESOURCE_ATTRIBUTES},vcs.repository.ref.revision=main
OTEL_RESOURCE_ATTRIBUTES=${OTEL_RESOURCE_ATTRIBUTES},vcs.root.path=services/orchestrator

# The following depend on your selected configuration

# OLLAMA server: gpt-oss:latest, qwen3-coder:30b, mistral-small3.2:latest, qwen3-embedding:latest
OLLAMA_HOST=http://ollama-autossh-tunnel:11434

# OpenAI compatible server
# Available models at: https://llm.ai.e-infra.cz/v1/models
OPENAI_API_URL=https://llm.ai.e-infra.cz/v1
OPENAI_API_KEY=

# MODEL=ollama/qwen3-coder:30b
MODEL=einfra/deepseek-v4-pro-thinking

DOTNET_SANDBOX_IMAGE=mcr.microsoft.com/dotnet/sdk:10.0
JAVA_SANDBOX_IMAGE=bellsoft/liberica-openjdk-debian:25-cds
CONTEXT_ABSOLUTE_PATH=/deps/orchestrator/src/context

# LangChain integrations
REDIS_URI=redis://langgraph-redis:6379
POSTGRES_URI=postgres://postgres:postgres@langgraph-postgres:5432/postgres?sslmode=disable

# Dependency variables (databases, container from upstream - should be in sync)
NEO4J_DATABASE=neo4j
NEO4J_URI=neo4j://host.docker.internal:7697
MONGODB_URI=mongodb://uom_readonly:uom_readonly@host.docker.internal:27027/uom
MONGODB_DATABASE=uom
MSSQL_HOST=host.docker.internal
MSSQL_PORT=1444
MSSQL_CONNECTION_STRING="Server=${MSSQL_HOST},${MSSQL_PORT};Database=WideWorldImporters;User Id=sa;Password=Testingorms123;TrustServerCertificate=True"
DB_TOOLBOX_URI=http://db-toolbox:5000
MONGODB_MCP_URI=http://mongodb-mcp-server:3000/mcp
DOTNET_SERVICE_URI=http://dotnet-service:5083
DOTNET_SERVICE_SSH_URI=ssh://dotnet-service:5022
JAVA_SERVICE_URI=http://java-service:8090
JAVA_SERVICE_SSH_URI=ssh://java-service:8022

DAYTONA_API_KEY=
DAYTONA_API_URL=http://api:3000/api
DAYTONA_TARGET=us
DAYTONA_EXPERIMENTAL_OTEL_ENABLED=true
DAYTONA_OTEL_ENABLED=true
